# Ignore files by Visual Studio Code
.vscode/

# Ignore files build by ndk and eclipse
libs/
bin/
obj/
gen/
assets/
local.properties

# Ignore files build with linux
linux-build/

# Ignore files cocos2d engine
cocos2d/
